name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependências
        run: |
          npm install -g expo-cli
          unzip encontro_project_final.zip -d app
          cd app
          npm install --force

      - name: Gerar APK
        run: |
          cd app
          npx expo build:android -t apk --non-interactive || npx expo export

      - name: Salvar APK
        uses: actions/upload-artifact@v3
        with:
          name: EncontroNaEsquina-App
          path: app/dist/**/*.apk
